/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
	--ion-color-teste: #cce9f9;
	--ion-color-teste-rgb: 204,233,249;
	--ion-color-teste-contrast: #000000;
	--ion-color-teste-contrast-rgb: 0,0,0;
	--ion-color-teste-shade: #b4cddb;
	--ion-color-teste-tint: #d1ebfa;
  --ion-color-teste1: #ffa200;
	--ion-color-teste1-rgb: 255,162,0;
	--ion-color-teste1-contrast: #000000;
	--ion-color-teste1-contrast-rgb: 0,0,0;
	--ion-color-teste1-shade: #e08f00;
	--ion-color-teste1-tint: #ffab1a;
}

.ion-color-teste {
	--ion-color-base: var(--ion-color-teste);
	--ion-color-base-rgb: var(--ion-color-teste-rgb);
	--ion-color-contrast: var(--ion-color-teste-contrast);
	--ion-color-contrast-rgb: var(--ion-color-teste-contrast-rgb);
	--ion-color-shade: var(--ion-color-teste-shade);
	--ion-color-tint: var(--ion-color-teste-tint);
}

.ion-color-teste1 {
	--ion-color-base: var(--ion-color-teste1);
	--ion-color-base-rgb: var(--ion-color-teste1-rgb);
	--ion-color-contrast: var(--ion-color-teste1-contrast);
	--ion-color-contrast-rgb: var(--ion-color-teste1-contrast-rgb);
	--ion-color-shade: var(--ion-color-teste1-shade);
	--ion-color-tint: var(--ion-color-teste1-tint);
}

